
  h4 {
    margin: 2rem 0rem 1rem;
  }
  .margin10{
      margin-top: 10px;;
  }
  
  .table-image 
    td  th {
      vertical-align: middle;
    }
.button-custom{
    margin: 0 10px;
    width: 85px;
    font-size: small;
}
.btAdd{
  font-size: large;
}